<section class='hero-content'>
  <h1 class='hero-title'>Welcome to your new home..... on Wheels(what do you want here?)</h1>
  <h2 class="sub-title">A really intriguing catch phrase about adventuremobiles</h2>
</section>

<section class="selling-points container clearfix">
     <div class="point column third">
         <span class="ion-music-note"></span>
         <h4 class="point-title"></h4>
         <p class="point-description"></p>
     </div>
     <div class="point column third">
         <span class="ion-heart"></span>
         <h4 class="point-title"></h4>
         <p class="point-description"></p>
     </div>
     <div class="point column third">
         <span class="ion-iphone"></span>
         <h4 class="point-title"></h4>
         <p class="point-description"></p>
     </div>
 </section>
