<section class='hero-content'>
  <h1 class='hero-title'>Our Story</h1>
</section>

<section class="our-home-on-wheels-link">
  <button><a href="http://www.ourhomeonwheels.co/about-us/"> Find out more about Our Home On Wheels </a></button>

 </section>
